/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    font-family: sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: black;
}
/* Fin reset */


/* Container */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* Header */
.last_list_menu2 {
    display: none;
}
h1 {
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li{
    padding: 30px 0 30px 40px
}

header ul li a {
    border-top: solid white 3px;
    padding : 28px 20px 0 20px;
}

header ul li a:hover{
    color: #0065FC;
    border-top: solid #0065FC 3px;
    padding : 28px 20px 0 20px;
}

.responsive_none > a{
    color: #0065FC;
}
.logo {
    display: flex;
}

/* Partie recherche */
.button_search2 {
    display: none;
}
h2 {
    font-weight: bold;
}

h3 {
    font-weight: lighter;
    font-size: 13px;
}

.under_title {
    margin-top: 10px;
}

.search {
    margin: 20px 0 30px 0;
    display: flex;
    align-items: center;
}

.fa-map-marker-alt {
    background: #e6e6e6;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

.input_search {
    border: #e6e6e6 solid 1px;
    padding: 10px 8px;
}

.button_search {
    color: white;
    font-weight: bold;
    background: #0065FC;
    border: none;
    cursor: pointer;
    padding: 11px;
    border-radius: 0 10px 10px 0;
}

/* Filtres */
.filter {
    display: flex;
    align-items: center;
}
.pack_button_filter {
    display: flex;
}

.filter h2 {
    margin-right: 30px;
    font-size: 13px;
}

.button_filter {
    background: white;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    border: solid #e6e6e6 1px;
    border-radius: 30px;
    padding: 0 10px 0 0;
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.button_filter:hover {
    background: #DEEBFF;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog, .fa-info {
    color: #0065FC;
}

.filter .fas {
    background: #DEEBFF;
    border-radius: 50%;
    width: 2.4em;
    height: 2.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter span {
    padding:0 10px;
}

/* Ligne d'info */ 
.fa-info {
    font-size: 11px;
}

.info {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.bulle_info {
    border: #acacac solid 1px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

/* Section principal */ 
.container2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.marseille, .populaires {
    background: #F2F2F2;
    border-radius: 10px;
    padding: 35px 25px 20px 25px;
}

.fa-star {
    color: #0065FC;
    font-size: 10px;
}

.fa-star2 {
    color: #e6e6e6;
}

/* Hébergements */ 
.marseille {
    width: 790px;
}

.pack_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 235px;
    height: 155px;
    background: white;
    border-radius: 15px;
    margin: 10px;
    padding: 4px;
    display: block;
}

.img_card {
    width: 235px;
    height: 105px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card h2, .card2 h2 {
    font-size: 12px;
    margin: 5px 0 -2px 12px
}

.card h3, .card2 h3 {
    font-size: 11px;
}

.card h3 {
    margin: 5px 12px;
}

.star {
    margin: -6px 12px;
}

.title_container2{
    margin: 0 0 3px 18px;
    font-size: 16px;
}

.marseille h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0 0 18px
}  

.marseille > a {
    font-size: 13px;
    font-weight: bold;
    margin-left: 12px;
}

/* Populaires */
.populaires_title {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.pack_card2 {
    display: flex;
    flex-direction: column;
}

.card2 {
    width: 255px;
    height: 100px;
    background: white;
    margin: 10px;
    display: flex;
    border-radius: 15px;
    padding: 4px;
}

.img_card2 {
    width: 95px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.card2_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.star_card2 {
    margin-left: 12px;
}

.card2 h3 {
    margin: 10px 12px;
}

.title_populaire {
    margin-left: 4px;
}

.fa-chart-line {
    margin-right: 10px;
}


/*Contenant 3 Activité*/
.container3 {
    margin-top: 50px;
}

.container3 h2 {
    margin-bottom: 20px;
}

.activity, .activity_columnA, .activity_columnB {
    display: flex;
}
.activity {
    justify-content: space-between;
}

.img_type_1, .img_type_2, .img_type_3, .img_type_4 {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.first{
    object-position: top;
}

.img_type_1 {
    height: 290px;
}

.img_type_2 {
    height: 135px;
}

.img_type_3 {
    height: 85px;
}

.img_type_4 {
    height: 105px;
}

.container3 h4 {
    margin: 10px 15px;
    font-size: small;
    font-weight: bold;
}

.card_activity_1, .card_activity_2, .card_activity_3, .card_activity_4 {
    display: block;
    width: 255px;
    box-shadow: 2px 2px 5px #e6e6e6;
    border-radius: 15px;
}

.card_activity_1 {
    height: 330px;
    margin-right: 60px;
}

.card_activity_2 {
    height: 175px;
}

.card_activity_3 {
    height: 125px;
}

.card_activity_4 {
    height: 150px;
}

.card_activity_2, .card_activity_4:first-child {
    margin-bottom: 30px;
}


/*Footer*/
footer {
    background: #F2F2F2;
    margin-top: 45px;
    padding: 20px 0;
}

.footer_size {
    max-width: 1200px;
    margin: 15px auto;
    display: flex;
}

.footer_ul {
    margin-right: 240px;
}

footer div ul li {
    font-size: small;
    margin: 8px 0;
}

footer h4 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
}


/*RESPONSIVE*/
/*petit écran*/
@media screen and (max-width: 1210px)
{
    .marseille {
        width: 600px;
        margin-right: 11px;
    }
    .container {
        max-width: 1000px;
    }
    .marseille > .title_container2 {
        margin: 0 0 3px 50px;
    }
    .marseille > a {
        margin-left: 50px;
    }  
    .footer_size {
        max-width: 1000px;
    }
    .footer_ul {
        margin-right: 150px;
    }
    .card_activity_1, .card_activity_2, .card_activity_3, .card_activity_4 {
        width: 220px;
    }
    .card_activity_1 {
        margin-right: 40px;
    }
}

/*tablette*/
@media screen and (max-width: 1028px) {
    .container {
        max-width: 960px;
    }
    .container2 {
        flex-direction: column-reverse;
    }
    .filter h2 {
        margin-right: 20px;
    }
    .button_filter {
        margin-right: 20px;
    }
    .pack_card2 {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .populaires {
        margin-bottom: 30px;
    }
    /*Container 3 - Activité*/
    .activity_columnA, .activity_columnB {
        flex-direction: column;
        width: 49%;
    }
    .card_activity_1, .card_activity_2, .card_activity_3, .card_activity_4 {
        height: 175px;
        width: auto;
    }
    .img_type_1, .img_type_2, .img_type_3, .img_type_4 {
        height: 130px;
        width: 100%;
    }
    .activity {
        flex-wrap: wrap;
    }
    .card_activity_1 {
        margin: 0 0 25px 0;
    }
    .marseille {
        width: auto;
        margin-right: 0;
    }
    .pack_card {
        justify-content: space-around;
    }
    .marseille > .title_container2, .marseille > a {
        margin-left: 15px;
    }
    .footer_size {
        max-width: 960px;
        padding-left: 20px;
    }
    .footer_ul {
        margin-right: auto;
    }

}

/*mobile*/
@media screen and (max-width: 650px) {
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 !important;
    }
    .last_list_menu2 {
        color: #0065FC;
        padding: 30px 0;
        font-size: 16px;
        font-weight: bold;
    }
    .logo > img {
        padding: 10px 0;
    }
    header ul li a{
        padding: 10px;
    }
    .responsive_none {
        border-bottom: none;
    }
    .menu li a:hover{
        border-top: none;  
    }
    .menu li {
        border-bottom: solid #acacac 3px; 
    }
    .menu li:hover {
        border-bottom: solid #0065FC 3px;
    }
    .menu li:hover  a{
        color: #0065FC;
    }
    header ul {
        justify-content: center;
    }
    header ul li {
        padding: 30px 0 15px 0;
        width: 50%;
        text-align: center;
    }
    h1 {
        font-size: 22px;
        font-weight: bold;
    }
    .under_title {
        font-size: 17px;
    }
    .responsive_none {
        display: none;
    }
    .last_list_menu2 {
        display: block;
    }
    .logo {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    /*Barre de recherche*/
    .search {
        justify-content: space-around;
    }
    .fa-map-marker-alt {
        font-size: 18px;
        padding: 15px;
        border-radius: 15px 0 0 15px;
    }
    .input_search {
        height: 26px;
        width: 100%;
    }
    .button_search {
        display: none;
    }
    .button_search2 {
        display: unset;
        height: 48px;
        width: 53px;
        border-radius: 0 15px 15px 0;
        background-color: #0065FC;
        border: none;
        cursor: pointer;
    }
    .fa-search {
        color: white;
        font-size: 18px;
    }
    /*Filtres*/
    .filter {
        display: block;
    }
    .pack_button_filter {
        flex-wrap: wrap;
    }
    .button_filter {
        margin: 5px;
        font-size: 16px;
        border: solid #e6e6e6 2px;
    }
    .filter > h2 {
        margin-bottom: 5px;
        font-size: 16px;
    }
    h3 {
        font-size: 15px;
    }
    .bulle_info {
        width: 21px;
        height: 21px;
        margin-right: 10px;
    }
    .marseille {
        background: white;
    }
    .title_container2 {
        margin-bottom: 13px;
        font-size: 22px;
    }
    .container2 {
        margin: 0;
        padding: 0;
    }
    .populaires {
        border-radius: 0px;
        padding: 35px 0;
    }
    .card2 {
        width: 88%;
        height: 125px;
    }
    .img_card2 {
        width: 125px;
        height: auto;
    }
    .card h2, .card2 h2 {
        font-size: 17px;
    }
    .card h3, .card2 h3 {
        font-size: 15px;
    }
    .fa-star {
        font-size: 11px;
    }
    .populaires_title {
        margin: 0 32px;
    }
    .fa-chart-line {
        margin-right: 0;
        font-size: 25px;
    }
    .marseille {
        padding: 35px 0;
    }
    .img_card {
        width: 100%;
        height: 115px;
    }
    .card2_text {
        padding: 8px;
    }
    .card {
        width: 95%;
        height: 190px;
        box-shadow: 2px 2px 5px #e6e6e6;
    }
    .card h3 {
        margin: 9px 12px;
    }
    .star {
        margin: -4px 12px;
    }
    .marseille > .title_container2 {
        margin-bottom: 10px;
    }
    .marseille > a {
        font-size: 17px; 
    }
    /*Activité - Container 3*/
    .container3 h2 {
        font-size: 22px;
    }
    .activity {
        flex-direction: column;
    }
    .activity_columnA, .activity_columnB {
        width: 100%;
    }
    .container3 h4 {
        font-size: 15px;
        margin: 12px 15px;
    }
    /*Footer*/
    .footer_size {
        flex-direction: column;
    }
    footer h4 {
        font-size: 18px;
    }
    .footer_ul ul {
        margin-bottom: 30px;
    }
    .footer_ul ul li {
        font-size: 16px;
    }
}
