/* Clean up */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    font-family: sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Start */
a {
    text-decoration: none;
    color: black;
}


/* Header */
header, nav {
    margin: 1% 0 -1% 0;
}

header
{
    display: flex;
    justify-content: space-around;
}

header ul {
    display: flex;
}

header ul li {
    padding: 8%;
}

header ul li a:hover{
    color: blue;
    border-top: solid blue 2px;
    padding-top: 30%;
}

.last_list_menu{
    color: blue;
}

/* Navigation */
nav {
    margin: 2% 0 0 21%;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: lighter;
    font-size: smaller;
    margin: 0.6% 0;
}

/* Barre de recherche */
#search {
    margin-bottom: 1%;
}

nav form label{
    background: grey;
    padding: 0.8%;
    border-radius: 20% 0 0 20%;
}

#input_search {
    padding: 0.7%;
    margin: 0 -0.3%;
}

#button_search {
    color: white;
    font-weight: bold;
    background: blue;
    border: none;
    padding: 0.9%;
    border-radius: 0 20% 20% 0;
}

/* Filtres */


/*
/* Section */ /*
.seach {
    padding:0.3%;
    color: white;
    background: blue;
    border: none
}

form {
    border-radius: 0 8px 8px 0
}

article {
    display: flex
}

article a ul li img {
    width: 15%;
}

#section1 {
    display: flex
}

#marseille {
    background-color: gray;
    margin: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#populaire {
    background-color: gray;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

*/

/* Footer */ 